//
//  Secret.xconfig
//  Trivinema
//
//  Created by Afif Fadillah on 26/04/25.
//

API_KEY  = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NTU3ZjAxOGI3MGU1NTg1NmQ5YzE0Y2YyNTRmNTU3YSIsIm5iZiI6MTY3MTcxNjExNi43NDU5OTk4LCJzdWIiOiI2M2E0NWQxNDQzNTAxMTAwOTNjMGY2ODIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.SUfvVF3weteYcIGpTOaZTpSFn_InTo4uLle5Bc06B8E
